.button {
  background: #424141;
  padding: 3px 3px 0px 3px;
  border-radius: 7px;
  margin: 3px;
  width: auto;
  transition: all 0.5s;
  min-width: 45px;
  height: 45px;
  border: none;
  color: black;
  opacity: 0.7;
  &:hover {
    -webkit-animation: rainbow-color 5s infinite;
    animation: rainbow-background 5s infinite;
    cursor: pointer;
    opacity: 1;
  }
}

.buttonIMG {
  height: 15px;
}

.pressed {
  background: black;
  color: #424141;
  opacity: 0.2;
  &:hover {
    -webkit-animation: rainbow-color 5s infinite;
    animation: rainbow-background 5s infinite;
    cursor: pointer;
    opacity: 0.2;
  }
}


@keyframes rainbow-color {
 0% {
  color: white
 }
 33.000% {
  color: green
 }
 66.00% {
  color:red
 }
 99.00% {
  color:white
 }
}
