.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #303030;
  padding-top: 5px;
}

.informationBlock {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  justify-content: space-between;
  padding-top: 5px;
  color: white;
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 65%;
}
