.header {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  background-color: red;
}

.top-panel {
  display: flex;
  margin-top: 15px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.logo {
  // background-image: url();
  width: 200px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}

.score {
  font-weight: 500;
}
