.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5px;
  min-width: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  .answerVariantTrue {
    color: green;
    height: 15%;
    min-height: 35px;
  }

  .answerVariantFalse {
    color: red;
    height: 15%;
    min-height: 35px;
  }

  .answerVariant {
    color: white;
    height: 15%;
    min-height: 35px;
  }
}
