.li {
  flex: auto;
  display: inline-block;
  color: white;
  background: #008933;
  padding: 10px;
  &:first-child {
    border-radius: 15px 0 0 15px;
  }
  &:last-child {
    border-radius: 0 15px 15px 0;
  }
}

.completeLi {
  flex: auto;
  display: inline-block;
  color: white;
  background: #007c5d;
  padding: 10px;
}

.progressBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 10px;
  background: #008933;
}
