.li {
  display: inline;
  color: white;
  background: #008933;
  padding: 10px;
}

.completeLi {
  display: inline;
  color: white;
  background: #007c5d;
  padding: 10px;

}

.progressBar {
  flex:auto;
  padding:20px;
  overflow: hidden;
  text-align: center;
}
